@import '@styles/core.scss';

.button {
  color: #000;
  border: none;

  &.primary {
    background: lightcoral;
  }

  &.secondary {
    background: blue;
  }

  &:hover {
    color: white;
    background: red;
  }
}
