@import '@styles/core.scss';

.button {
  border: none;
  color: #000000;

  &.primary {
    background: #f5faaa;
  }

  &.secondary {
    background: #f5faaa;
  }

  &:hover {
    color: #ffffff;
    background: #f5faaa;
  }
}
