@mixin flex($j: flex-start, $a: center, $d: row) {
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin min-size($size) {
  min-width: $size;
  min-height: $size;
}

@mixin max-size($size) {
  max-width: $size;
  max-height: $size;
}

@mixin mv($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin mh($value) {
  margin-right: $value;
  margin-left: $value;
}

@mixin pv($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin ph($value) {
  padding-right: $value;
  padding-left: $value;
}

@mixin min-height-100vh() {
  min-height: 100vh;
  min-height: available;
  min-height: fill-available;
  min-height: fill-available;
}

@mixin height-100vh() {
  height: 100vh;
  height: available;
  height: fill-available;
  height: fill-available;
}
