//blue

$blue: var(--theme-blue);

$lightBlue: var(--theme-lightBlue);

$darkBlue: var(--theme-darkBlue);

// red

$red: var(--theme-red);

$lightRed: var(--theme-lightRed);

$darkRed: var(--theme-darkRed);

// gray

$white: var(--theme-white);

$gray20: var(--theme-gray20);

$gray40: var(--theme-gray40);

$gray60: var(--theme-gray60);

$gray80: var(--theme-gray80);

$gray90: var(--theme-gray90);

$black: var(--theme-black);

// gray blue

$grayBlue10: var(--theme-grayBlue10);

$grayBlue30: var(--theme-grayBlue30);

$grayBlue60: var(--theme-grayBlue60);

$grayBlue80: var(--theme-grayBlue80);

$grayBlue90: var(--theme-grayBlue90);
