// main palette
$primary: var(--theme-primary);

$secondary: var(--theme-secondary);

$teritary: var(--theme-teritary);

$quaternary: var(--theme-quaternary);

//text
$text: var(--theme-text);

//states
$info: var(--theme-info);

$success: var(--theme-success);

$warning: var(--theme-warning);

$error: var(--theme-error);
