$primary: var(--color-primary);
$secondary: var(--color-secondary);
$teritary: var(--color-teritary);

$xxs: 320px;
$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 1172px;
$xl: 1200px;
$xxl: 1366px;

$transition: 0.25s;
$border-radius: 6px;
