@import '@styles/fonts.scss';
@import '@styles/global.scss';

body {
  font-size: 16px;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;

  color: #ffffff;
  background: #121212;
}

#__next {
  min-height: 100vh;
}
